.footer {
    background-color: #023557;
    color: #abcde5;
    padding: 1.25rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-content p:last-child {
    font-size: 0.9rem;
}
